.hero {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero-bg.jpg");
  background-size: cover;
  padding: 5rem 0 11.125rem;

  &-partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      margin-left: 5rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-navigation {
    margin-top: 4.45rem;

    &-item {
      text-decoration: none;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 1.4rem;
      color: #fff;
      margin-left: 4.55rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-title {
    max-width: 664px;
    font-weight: normal;
    font-size: 3.55em;
    line-height: 4.2rem;
    color: #fff;
    margin: 6.75rem 0 7rem;
  }

  &-link {
    display: inline-block;
    padding: 2.2rem 9.5rem;
    text-decoration: none;
    font-weight: normal;
    font-size: 2em;
    line-height: 2.3rem;
    color: #fff;
    background: #B78A3F;
  }
}

@media (max-width: 1280px) {
	.hero {
    padding: 5rem 2rem 11.125rem;
  }
}
@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
	.hero {

    &-navigation {
  
      &-item {
        font-size: 1em;
        line-height: 1.2rem;
        margin-left: 2rem;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &-title {
      font-size: 3em;
      line-height: 3.8rem;
      color: #fff;
      margin: 4.75rem 0 6rem;
    }
  }
@media (max-width: 576px) {
    .hero {
      padding: 3rem 2rem 9rem;

      &-partners {
        flex-direction: column;
        align-items: center;
    
        &-item {
          margin-bottom: 1rem;
          margin-left: 0;
    
          &:first-child {
            margin-left: 0;
          }
        }
      }

      &-navigation {
        margin-top: 4.45rem;
    
        &-item {
          display: flex;
          font-size: 1.2em;
          line-height: 1.4rem;
          margin-bottom: .5rem;
          margin-left: 0;
          
    
          &:first-child {
            margin-left: 0;
          }
        }
      }
      &-title {
        font-size: 2.2em;
        line-height: 3rem;
        margin: 4rem 0 6rem;
      }
      &-link {
        padding: 1.5rem 6rem;
        font-size: 2em;
        line-height: 2.3rem;
      }
    }
  }
}
@media (max-width: 414px) {
  .hero {
    padding: 1rem 1rem 9rem;

    &-partners {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    
      &-item {
        max-width: 25%;
        margin-left: 20px;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &-title {
      font-size: 2em;
      line-height: 2.5rem;
      margin: 6.75rem 0 7rem;
    }
    &-link {
      font-size: 1.8em;
      line-height: 2rem;
    }
  }
}